<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet"> 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
<ion-content >
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
<div class="circle"></div>
<div class="circle1"></div>
<div class="circle2"></div>
<div class="container">
  <div class="topp"><h2 class="title">Torneos de Basquetball</h2></div>
  <div class="back"><button routerLink="/home-adm" class="btnback"><ion-icon size="large" name="arrow-back-outline"></ion-icon></button></div>

  <div class="imagen">
    <img src="https://cdni.iconscout.com/illustration/premium/thumb/basketball-3354969-2802288.png" alt="">
  </div>
<div class="tour">
  

 <ion-button *ngFor="let torneo of torneos" (click)="obtenerNombre(torneo.nombreTorneo)" routerLink="/levels-tournaments-bask-adm" color="warning" name="nombreT"  [(ngModel)]="nombreTorneo"  class="torneo" shape="round" (click)="onButtonClick()" [disabled]="isButton1Disabled"> <div class="torneos_one"><div class="txt" id="nombreTor">{{torneo.nombreTorneo}}</div><div class="txt" id="fecha">Empieza el {{torneo.fechaInicio}}</div><ion-button color="danger" routerLink="/create-basquet-torunament-adm" shape="round" ><ion-icon size="large" name="trash-outline"></ion-icon></ion-button></div></ion-button>
 
 <ion-button color="warning" routerLink="/create-basquet-torunament-adm" shape="round" ><ion-icon size="large" name="add-circle-outline"></ion-icon></ion-button>
</div>

</div>

</ion-content>