

.txt{
  font-family: "Poppins", sans-serif;
    font-size: 2rem;
    color: #ffffff;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #0485ca;
}



.or{
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-content.page{
    --background:  #fff;

}

.back{
    width: 100%;
    top: 0;
position: absolute;
z-index: -1;
    rotate: 90deg;
}

.login-container {
    color: #ffffff;
    width: 80%;
    margin-top: 0.5rem;
    margin-left: 10%;
   border-radius: 3rem;
display: flex;

    padding: 20px;
    border-radius: 5px;
    background-color: #0485ca;
   
  }

.imagen{
    width: 20rem;
    margin-left: 2rem;
}

.img{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
 

#torname{
  color: #ffffff;
    background-color: #ffffff00;
    border: 1px solid #ffffff;
    border-radius: 2rem;
    width: 16rem;
    height: 3rem;
}

#gradesOp{
  color: #ffffff;
  background-color: #ffffff00;
  padding-left: 1rem;
  border: 1px solid #ffffff;
  border-radius: 2rem;
  width: 16rem;
  height: 3rem;
}

.grades{
color: #000000;
}
  #fechaInicio{
    color: #ffffff;
    background-color: #ffffff00;
    padding-left: 1rem;
    border: 1px solid #ffffff;
    border-radius: 2rem;
    width: 13rem;
    height: 3rem;
    
  }
  
  #fechaFinalizacion{
    color: #ffffff;
    background-color: #ffffff00;
    border: 1px solid #ffffff;
    border-radius: 2rem;
    width: 13rem;
    padding-left: 1rem;
    height: 3rem;
  }


  .text{
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font: 700 24px "Roboto", sans-serif;
  }
  .login-container h2 {
    margin-bottom: 20px;
  }
  .login-container label, .login-container input {
    display: block;
    margin-bottom: 10px;
  }
  .login-container input[type="text"], .login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 1rem;
  }
 

  .inc{
    background-color: #f0d641;
    color: #000000;
    font-size: 1rem;
    border: none;
    border-radius: 1rem;
    margin-left: 4rem;
    margin-top: 1.8rem;
    padding: 10px 20px;
    width: 10rem;
    height: 3rem;
    cursor: pointer;
  }

  .logout{

    margin-top: 2rem;
    width: 14rem;
    height: 3rem;
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    justify-content: space-between;
    }
    
    .infor{

    margin-top: 2rem;
    height: 3rem;
    width: 14rem;
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    justify-content: space-between;
    }

  .reg{
    background-color: #e94b4b;
    color: #000000;
    font-size: 1rem;
    border: none;
    border-radius: 1rem;
    margin-left: 5rem;
    margin-top: 1rem;
    padding: 10px 20px;
    width: 8rem;
    height: 3rem;
    cursor: pointer;
  }

  .login-container input[type="text"], .login-container input[type="password"] {
    
    color: black; /* Texto en color negro */
  }