.levels{
    width: 100%;
    height: 110%;
    display: flex;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-items: center;
    gap: 2rem;
    background-color: rgb(101, 187, 75);
}

.header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 7%;
    justify-content: space-between;
}

.back{
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0.7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 100%;
    background-color: rgb(101, 187, 75);
}

.btn{
   
    width: 80%;
    height: 13rem;
    padding: 0;
    border-radius: 2rem;
    box-shadow: var(
        --accentued-drop-shadow-box-shadow,
        0px 13px 19px 0px rgba(0, 0, 0, 0.07)
      );
}

.title{
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
   color: #ffffff;
   margin-bottom: 1rem;
   display: flex;
   text-align:center;
}

.txt{
    justify-self: center;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    
}

.uno{
    height: 0.3rem;
    width: 60%;
    background-color: #ff6551;
}

.dos{
    height: 0.3rem;
    width: 60%;
    background-color: #4165c7;
}

.tres{
    height: 0.3rem;
    width: 60%;
    background-color: #ffc652;
}

.descr{
    height: 20rem;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.level{
    width: 100%;
    height: 13rem;
    padding-top: 1.5rem;
    display: flex;
    border-radius: 2rem;
    justify-content: center;
    flex-direction: column;
    box-shadow: var(
    --accentued-drop-shadow-box-shadow,
    0px 13px 19px 0px rgba(0, 0, 0, 0.07)
  );

      background-color: white;

}

.imag{
 width: 70%;
 margin-right: 0.5rem;
}

.number{
    align-self: center;
    width: 36%;
    height: 47%;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen{
    width: 75%;
}

.one{
    background-color: #ff6551;
}

.two{
    background-color: #4165c7;
}

.three{
    background-color: #ffc652;
}