<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet"> 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

<ion-content class="page">
  <div class="txt">
    <p >Crea un partido de Basketball</p>
   </div> 
<div class="img">
  <img class="imagenp" src="https://cdni.iconscout.com/illustration/premium/thumb/basketball-match-8933308-7269573.png?f=webp" alt="">
</div>
  <div class="login-container">

    
    <form action="" class="form" method="post">
     
  <hr>
  <label class="text"  for="eq1">Equipo #1:</label>
      <select [(ngModel)]="selectedColor" id="colores" name="color">
        <option *ngFor="let color of filteredColors" [value]="color" value="1E1" class="gradeOp" >{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="1E2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="1A1">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="1A2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="1B1">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="1B2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="1B2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="1B2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="1B2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="1B2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="1B2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="1B2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="1B2">{{ color }}</option>

        <option *ngFor="let color of filteredColors" value="2E1">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="2E2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="2A1">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="2A2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="2B1">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="2B2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="2B2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="2B2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="2B2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="2B2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="2B2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="2B2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="2B2">{{ color }}</option>

        <option *ngFor="let color of filteredColors"  value="3E1" >{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="3E2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="3A1">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="3A2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="3B1">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="3B2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="3B2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="3B2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="3B2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="3B2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="3B2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="3B2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="3B2">{{ color }}</option>
      </select>
<hr>
      <label class="text"  for="eq2">Equipo #2:</label>
      <select [(ngModel)]="selectedTeam" id="colores" name="color">
        <option *ngFor="let color of filteredColors" [value]="color" class="gradeOp"  value="1E1" >{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="1E2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="1A1">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="1A2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="1B1">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="1B2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="1B2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="1B2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="1B2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="1B2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="1B2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="1B2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="1B2">{{ color }}</option>

        <option *ngFor="let color of filteredColors" [value]="2E1" >{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="2E2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="2A1">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="2A2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="2B1">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="2B2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="2B2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="2B2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="2B2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="2B2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="2B2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="2B2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="2B2">{{ color }}</option>

        <option *ngFor="let color of filteredColors" [value]="3E1" >{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="3E2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="3A1">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="3A2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="3B1">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="3B2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="3B2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="3B2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="3B2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="3B2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="3B2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="3B2">{{ color }}</option>
        <option *ngFor="let color of filteredColors" value="3B2">{{ color }}</option>
      </select>
      <hr>
      <label class="text"  for="eq1">Etapa:</label>
      <select id="etaplab">
        <option disabled selected>Selecciona una etapa del torneo:</option>
        <option value="1E1" class="gradeOp" >Final</option>
        <option value="1E2"  class="gradeOp">Semifinal</option>
        <option value="1A1"  class="gradeOp">Cuartos de final</option>
        <option value="1A1"  class="gradeOp">Octavos de final</option>
        <option value="1A1"  class="gradeOp">Fase de grupos</option>
      </select>
      <hr>
      <label class="text"  for="fech">Fecha:</label>
      <input type="date" id="fecha" name="fecha" required>
      <hr>
      <label class="text"  for="hora">Hora de inicio:</label>
      <input type="time" id="hourIn" name="hour" required>

      <hr>
  
     

      <input class="inc"  type="submit" value="Crear Partido">
        <input class="reg" routerLink="/basquet-matches-second-adm" type="submit" value="Cancelar">



    </form>


  </div>



</ion-content>
