<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet"> 
<ion-content >

<div class="circle"></div>
<div class="circle1"></div>
<div class="circle2"></div>

<div class="container">
  <div class="topp"><h2 class="title">Torneos de Basquetball</h2></div>
  <div class="back"><button routerLink="/home-est" class="btnback"><ion-icon size="large" name="arrow-back-outline"></ion-icon></button></div>

  <div class="imagen">
    <img src="https://cdni.iconscout.com/illustration/premium/thumb/basketball-3354969-2802288.png" alt="">
  </div>
<div class="tour">
 <ion-button routerLink="/levels-tournaments-bask-est"color="medium" class="torneo" shape="round" (click)="onButtonClick()" [disabled]="isButton1Disabled"> <div class="torneos_one"><div class="txt">Torneo 1</div></div></ion-button>
 <ion-button routerLink="/levels-tournaments-bask-est" color="medium" class="torneo" shape="round"  (click)="onButtonClick()" [disabled]="isButton2Disabled"><div class="torneos_two"><div class="txt">Torneo 2</div></div></ion-button>
 <ion-button routerLink="/levels-tournaments-bask-est" color="medium" class="torneo" shape="round"  (click)="onButtonClick()" [disabled]="isButton3Disabled"><div class="torneos_three"><div class="txt">Torneo 3</div></div></ion-button>

</div>
</div>


</ion-content>