<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet"> 
<ion-content [fullscreen]="true">
  <div class="header">
<button class="back" routerLink="/volley-est">
  <ion-icon color="light" size="large" name="arrow-back-outline"></ion-icon>
</button>
  
  </div>

 <div class="levels" routerLink="/volley-matches-est">
  <h2 class="title">Escoge uno de los niveles</h2>
<button class="btn">
<div class="level">

  <div class="number one">
    <img src="https://cdn-icons-png.flaticon.com/512/4253/4253170.png" class="imag" alt="">
  </div>
 
<div class="descr">
  <p class="txt"><b>1ro de Bachillerato</b></p>
  <div class="uno"></div>

</div>
</div>
</button>
<button class="btn" routerLink="/volley-matches-second-est">
<div class="level">

  <div class="number two">
    <img src="https://cdn-icons-png.flaticon.com/512/993/993686.png" class="imagen" alt="h">
  </div>
  

<div class="descr">
  <p class="txt"><b>2do de Bachillerato</b></p>
  <div class="dos"></div>

</div>
</div>
</button>

<button class="btn" routerLink="/volley-matches-third-est">
<div class="level">

  <div class="number three">
    <img  src="https://static.vecteezy.com/system/resources/previews/018/817/953/original/graduation-hat-students-cap-icon-png.png" alt="">
  </div>
 

<div class="descr">
  <p class="txt"><b>3ro de Bachillerato</b></p>
  <div class="tres"></div>
  
</div>
</div>
</button>
</div> 

</ion-content>
